body{
    background-color: rgba(61, 138, 61, 0.514);
    font: normal 15pt Arial;
}
header{
    text-align: center;
    color: rgb(255, 255, 255);
}
section{
    background-color: white;
    padding: 15px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    color: rgba(11, 10, 15, 0.658);
    text-align: justify;
}
footer{
    text-align: center;
    color: white;
    font-style: italic;
}
