body {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1%;

    /*
    Medidas Absolutas: 
    cm, mm, in (Polegada), px, pt, pc (Pica / Paica)
    
    pt, pc => são medidas de tipografia de papel

    Medidad Relativas: 
    em (Altura do M maiúsculo), ex, rem, vw (tamanho da tela), vh, %

    A W3School recomenda o uso das medidas PX e EM

    em => é relativo ao tamanho natural da letra
    1em => normalmente, é relativo a 16px
    */



    /*
    O próprio VS Code já dá as fonts combination ao digitar: font-family, ou ainda após digitar, aperte o Ctrl + espaço
    */



    /* 
    Se não definirmos a fonte o Google que irá decidir a font que ele acha melhor para san-serif, para serif e também para monospace, caso você defina igual aos exemplos a seguir: 

        font-family: sans-serif;
        font-family: serif;
        font-family: monospace;
    */



    /*
    font-family: Arial, Helvetica, sans-serif;
    */



    /* 
    Combinação segura - font-family: Arial, Helvetica, sans-serif - colocamos 3 tipos de fontes para que o navegador utilize uma caso a outra não funcione no dispositivo que a pessoa acessar o conteúdo. A ordem de "chamada" das fontes é a própria ordem que é excrita no font-family 
    */



    /* 
    No Google, você pode consultar CSS Web Safe Fonts combination
    site: https://www.w3schools.com/cssref/css_websafe_fonts.asp 
    */
}

h1, h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}