body {
    
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    text-decoration: underline;

    /*
    Variações de peso:
    lighter, normal, bold, bolder
    
    Varições de peso (numéricas):
    100, 200, 300, 400, 500, 600, 700, 800, 900 (Aqui, primeiro você verifica qual desses números são aceitos pela font que você escolheu)

    Exemplo: font-weight: normal;
    */

    /*
    Medidas Absolutas: 
    cm, mm, in (Polegada), px, pt, pc (Pica / Paica)
    
    pt, pc => são medidas de tipografia de papel

    Medidad Relativas: 
    em (Altura do M maiúsculo), ex, rem, vw (tamanho da tela), vh, %

    A W3School recomenda o uso das medidas PX e EM

    em => é relativo ao tamanho natural da letra
    1em => normalmente, é relativo a 16px
    */



    /*
    O próprio VS Code já dá as fonts combination ao digitar: font-family, ou ainda após digitar, aperte o Ctrl + espaço
    */



    /* 
    Se não definirmos a fonte o Google que irá decidir a font que ele acha melhor para san-serif, para serif e também para monospace, caso você defina igual aos exemplos a seguir: 

        font-family: sans-serif;
        font-family: serif;
        font-family: monospace;
    */



    /*
    font-family: Arial, Helvetica, sans-serif;
    */



    /* 
    Combinação segura - font-family: Arial, Helvetica, sans-serif - colocamos 3 tipos de fontes para que o navegador utilize uma caso a outra não funcione no dispositivo que a pessoa acessar o conteúdo. A ordem de "chamada" das fontes é a própria ordem que é excrita no font-family 
    */



    /* 
    No Google, você pode consultar CSS Web Safe Fonts combination
    site: https://www.w3schools.com/cssref/css_websafe_fonts.asp 
    */
}

h1, h2{

    font: italic bolder 3em 'Work Sans', sans-serif;

    /*
    shorthand font

    font-style -> font-weight -> font-size -> font-family
    
    Ao invés de fazer isso:
    
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    font-size: 3em;
    font-style:italic;
    
    Nós faremos isso: 

   font: italic bolder 3em 'Work Sans', sans-serif;
    */
    
}